@import "semantic-ui";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin-bottom: 50px;
}

main {
  flex: 1 0 auto;
}

.menu {
  border-radius: 0 !important;
}

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}
